@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(MaterialIcons-Regular.woff2) format('woff2'),
      url(MaterialIcons-Regular.woff) format('woff'),
      url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

#root-svg {
    border: solid black .1em;

}

[aria-pressed="true"] {
    background-color: #ccc;
    box-shadow: inset 0 0 0 0.15rem #ccc, 
                inset 0.25em 0.25em 0 #aaa;
}
/**
 * Marching ants border
 */
 
@keyframes ants { to { stroke-dashoffset: 0; } }

.selectedElement {
    stroke-width: 1px;
    stroke-dasharray: 4px;
    stroke-dashoffset: 8px;
    animation: ants 0.2s linear infinite;
}

.view-layer-parent {
    display: flex;
}

.view-div {
    flex: 1;
    padding-right: .5em;
}

.layer-div {
    display: flex;
    flex-shrink: 0;
}

#layer-list-div {
    display: flex;
    flex-shrink: 0;
    padding-right: .5em;
}

table {
    overflow-x: scroll;
    height: 100%;
    border-collapse: collapse;
}

thead {
    border: .1em solid black;
}

tbody {
    overflow-y: scroll;
    border: .1em solid black;
}

tr {
    height: 1em;
    flex: 0;
}

tbody tr:nth-child(odd){
    background-color: lightgrey;
}

td {
    border: .1em solid black;
}

#layer-button-div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-shrink: 0;
}

.vert-button {
    display: flex;
    flex:1;
}

.move {
    cursor: move;
}

.svgTextUnselectable {
    pointer-events: none;
}
